fastapi
uvicorn
torch>=1.10
torchvision>=0.11
ftfy
regex
tqdm
matplotlib
Pillow
python-multipart
numpy
git+https://github.com/openai/CLIP.git
timm>=0.9.2
requests
tensorflow>=2.9
opencv-python
annoy
scikit-learn